*{
    margin: 0;
    background-color: black;
}

.index{
    background-color: #a29797;
    width: 150px;
    height: 100%;
    position: fixed;
    text-align: center;
    font-size: 36px;
    clear: both;
}

i{
    color:black; 
    clear: both;
    background-color: rgba(0, 0, 0, 0);
}

a{
    text-decoration: none;
    clear: both;
    background-color: rgba(0, 0, 0, 0);
}

span{
    visibility: hidden;
    font-size: 10px;
    background-color: rgba(162,151,151,0);
}

a:hover span{
    visibility: visible;
    color: black;
    opacity: 100%;
}

